<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucas.selecao_brasileira" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/escudo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".titulos"
            android:label="@string/title_activity_titulos" >
        </activity>
        <activity
            android:name=".hinonacional"
            android:label="@string/title_activity_hinonacional" >
        </activity>
        <activity
            android:name=".maioresartilheiros"
            android:label="@string/title_activity_maioresartilheiros" >
        </activity>
        <activity
            android:name=".sobrenos"
            android:label="@string/title_activity_sobrenos" >
        </activity>
        <activity
            android:name=".cbf"
            android:label="@string/title_activity_cbf" >
        </activity>
        <activity
            android:name=".elenco"
            android:label="@string/title_activity_elenco" >
        </activity>
    </application>

</manifest>
